# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3
import os


current_directory = os.getcwd()
print(current_directory)

# loading data from python.db database
con = sqlite3.connect(r'./data/python.db')


# import 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql("SELECT * FROM school", con)
student_data = pd.read_sql("SELECT * FROM student", con)

C:\Users\Alexx\OneDrive\Desktop\Pythion-Lab-Week-4\Lab_Assignment

In [63]:
# join the two tables into a single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [66]:
# Create a District Summary

In [68]:
# Total number of schools

total_schools = school_data_complete["school_name"].nunique()

In [41]:
# Total number of students

total_students = school_data_complete["Student ID"].nunique()

In [43]:
# Total budget

total_budget = school_data_complete.groupby("school_name")["budget"].first().sum()

In [45]:
# Average math score)
average_math_score = school_data_complete["math_score"].mean()

In [47]:
# Average reading score

average_reading_score = school_data_complete["reading_score"].mean()

In [49]:
# Overall average score

overall_passing_rate = (average_math_score + average_reading_score) / 2

In [51]:
# Percentage of passing math (70 or greater)

passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
percent_passing_math = (len(passing_math) / total_students) * 100

In [53]:
# Percentage of students passing reading (score of 70 or greater)
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
percent_passing_reading = (len(passing_reading) / total_students) * 100

In [55]:
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Overall Passing Rate": [overall_passing_rate],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading]
})

# Format the Total Budget for better readability
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the summary
print(district_summary)

   Total Schools  Total Students    Total Budget  Average Math Score  \
0             15           39170  $24,649,428.00           78.985371

   Average Reading Score  Overall Passing Rate  % Passing Math  \
0               81.87784             80.431606       74.980853

   % Passing Reading
0          85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [76]:

# # Calculate total number of students per school
total_students_school = school_data_complete.groupby("school_name")["Student ID"].count()

# Calculate percentage of students passing math and reading
passing_math_school = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_math_school = (passing_math_school / total_students_school) * 100

passing_reading_school = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_reading_school = (passing_reading_school / total_students_school) * 100

# Calculate overall passing rate
overall_passing_rate_school = (percent_passing_math_school + percent_passing_reading_school) / 2

# Create a DataFrame for sorting
passing_rates_df = pd.DataFrame({
    "Overall Passing Rate": overall_passing_rate_school
})

# Sort schools by overall passing rate in descending order
top_performing_schools = passing_rates_df.sort_values("Overall Passing Rate", ascending=False)

# Display the top 5 performing schools
top_performing_schools.head(5)

                     Overall Passing Rate
school_name
Cabrera High School             95.586652
Thomas High School              95.290520
Pena High School                95.270270
Griffin High School             95.265668
Wilson High School              95.203679

In [78]:
# Calculate total school budget
# Group data by school
school_grouped = school_data_complete.groupby("school_name")

# Calculate total school budget
total_budget_school = school_grouped["budget"].first()

# Display the result
total_budget_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [80]:
# Calculate per student budget
# Calculate total students per school
total_students_school = school_grouped["Student ID"].count()

# Calculate per student budget
per_student_budget = total_budget_school / total_students_school

# Display the result
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [82]:
# Cacluate the avg math and reading score

# Calculate average math and reading scores per school
average_math_school = school_grouped["math_score"].mean()
average_reading_school = school_grouped["reading_score"].mean()

# Display the result
average_math_school, average_reading_school

(school_name
 Bailey High School       77.048432
 Cabrera High School      83.061895
 Figueroa High School     76.711767
 Ford High School         77.102592
 Griffin High School      83.351499
 Hernandez High School    77.289752
 Holden High School       83.803279
 Huang High School        76.629414
 Johnson High School      77.072464
 Pena High School         83.839917
 Rodriguez High School    76.842711
 Shelton High School      83.359455
 Thomas High School       83.418349
 Wilson High School       83.274201
 Wright High School       83.682222
 Name: math_score, dtype: float64,
 school_name
 Bailey High School       81.033963
 Cabrera High School      83.975780
 Figueroa High School     81.158020
 Ford High School         80.746258
 Griffin High School      83.816757
 Hernandez High School    80.934412
 Holden High School       83.814988
 Huang High School        81.182722
 Johnson High School      80.966394
 Pena High School         84.044699
 Rodriguez High School    80.744686
 Shelton High School      83.725724
 Thomas High School       83.848930
 Wilson High School       83.989488
 Wright High School       83.955000
 Name: reading_score, dtype: float64)

#### Find the passing rate for math and reading (above 70 points)

In [85]:
# Find the total counts of math scores per school
total_math_counts = school_data_complete.groupby("school_name")["math_score"].count()

# Find the counts of students per school who scored 70 or higher in math
passing_math_counts = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()

# Calculate the math passing rate per school
math_passing_rate = (passing_math_counts / total_math_counts) * 100

# Display the result
math_passing_rate

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [87]:
# Find the total counts of reading scores per school
total_reading_counts = school_data_complete.groupby("school_name")["reading_score"].count()

# Find the counts of students per school who scored 70 or higher in reading
passing_reading_counts = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()

# Calculate the reading passing rate per school
reading_passing_rate = (passing_reading_counts / total_reading_counts) * 100

# Display the result
reading_passing_rate

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [89]:
# Calculate the overall passing rate (average of the math and reading passing rate)
# Calculate the overall passing rate (average of the math and reading passing rates)
overall_passing_rate = (math_passing_rate + reading_passing_rate) / 2

# Display the result
overall_passing_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [96]:
#  Sort and display the worst five schools in overall passing rate

bottom_performing_schools = overall_passing_rate.sort_values(ascending=True)

# Display the bottom five performing schools
bottom_performing_schools.head(5)

school_name
Rodriguez High School    73.293323
Figueroa High School     73.363852
Huang High School        73.500171
Johnson High School      73.639992
Ford High School         73.804308
dtype: float64

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [104]:
# Create a table that lists the average math score for each school of each grade level.

# Calculate the average math score for each grade level in each school
math_scores_9th = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()
math_scores_10th = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()
math_scores_11th = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()
math_scores_12th = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()




math_scores_by_grade = pd.DataFrame({
    "9th Grade": math_scores_9th,
    "10th Grade": math_scores_10th,
    "11th Grade": math_scores_11th,
    "12th Grade": math_scores_12th
})

# Display the formatted DataFrame
math_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [106]:
# Calculate the average math score for 9th grade in each school
math_scores_9th = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["math_score"].mean()

# Display the result
math_scores_9th

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [108]:
# Calculate the average math score for 10th grade in each school
math_scores_10th = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["math_score"].mean()

# Display the result
math_scores_10th

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [110]:
# Calculate the average math score for 11th grade in each school
# Filter for 11th-grade students and calculate the average math score per school
math_scores_11th = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["math_score"].mean()

# Display the result
math_scores_11th

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [112]:
# Calculate the average math score for 12th grade in each school

math_scores_12th = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["math_score"].mean()

# Display the result
math_scores_12th

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [118]:
# Create table that lists the average reading score for each school of each grade level.
# Calculate the average reading score for each grade level in each school
reading_scores_9th = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
reading_scores_10th = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
reading_scores_11th = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
reading_scores_12th = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()


# Combine all grade-level reading scores into a single DataFrame
reading_scores_by_grade = pd.DataFrame({
    "9th Grade": reading_scores_9th,
    "10th Grade": reading_scores_10th,
    "11th Grade": reading_scores_11th,
    "12th Grade": reading_scores_12th
})

# Display the formatted DataFrame
reading_scores_by_grade

                       9th Grade  10th Grade  11th Grade  12th Grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [120]:
# Calculate the average reading score for 9th grade in each school
# Filter for 9th-grade students and calculate the average reading score per school
reading_scores_9th = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name")["reading_score"].mean()

# Display the result
reading_scores_9th

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [122]:
# Calculate the average reading score for 10th grade in each school
# Filter for 10th-grade students and calculate the average reading score per school
reading_scores_10th = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name")["reading_score"].mean()

# Display the result
reading_scores_10th

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [124]:
# Calculate the average reading score for 11th grade in each school

reading_scores_11th = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name")["reading_score"].mean()

# Display the result
reading_scores_11th

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [126]:
# Calculate the average reading score for 12th grade in each school

# Filter for 12th-grade students and calculate the average reading score per school
reading_scores_12th = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

# Display the result
reading_scores_12th

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [130]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [132]:
# Create a new column to show budget per student in each row
school_data_complete["Per Student Budget"] = school_data_complete["budget"] / school_data_complete["size"]

# Display the updated DataFrame
school_data_complete[["school_name", "budget", "size", "Per Student Budget"]].head()

         school_name   budget  size  Per Student Budget
0  Huang High School  1910635  2917               655.0
1  Huang High School  1910635  2917               655.0
2  Huang High School  1910635  2917               655.0
3  Huang High School  1910635  2917               655.0
4  Huang High School  1910635  2917               655.0

In [134]:
# Create a new column to define the spending ranges per student
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Create a new column categorizing schools into spending bins
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(
    school_data_complete["Per Student Budget"], spending_bins, labels=group_names
)

# Display the updated DataFrame
school_data_complete[["school_name", "Per Student Budget", "Spending Ranges (Per Student)"]].head()

         school_name  Per Student Budget Spending Ranges (Per Student)
0  Huang High School               655.0                      $645-675
1  Huang High School               655.0                      $645-675
2  Huang High School               655.0                      $645-675
3  Huang High School               655.0                      $645-675
4  Huang High School               655.0                      $645-675

In [136]:
# Calculate the average math score within each spending range

# Group by spending range and calculate average math score
spending_math_scores = school_data_complete.groupby("Spending Ranges (Per Student)", observed=False)["math_score"].mean()

# Display result
spending_math_scores

Spending Ranges (Per Student)
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [138]:
# Calculate the percentage passing rate for math in each spending range

spending_passing_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(
    "Spending Ranges (Per Student)", observed=False)["Student ID"].count()

# Get total students per spending range
total_students_spending = school_data_complete.groupby(
    "Spending Ranges (Per Student)", observed=False)["Student ID"].count()

# Compute percentage passing math
spending_passing_math_percentage = (spending_passing_math / total_students_spending) * 100

# Display result
spending_passing_math_percentage

Spending Ranges (Per Student)
<$585       93.702889
$585-615    94.124128
$615-645    71.400428
$645-675    66.230813
Name: Student ID, dtype: float64

In [140]:
# Calculate the percentage passing rate for reading in each spending range


# Count students passing reading (score >= 70) per spending range
spending_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(
    "Spending Ranges (Per Student)", observed=False)["Student ID"].count()

# Get total students per spending range
total_students_spending = school_data_complete.groupby(
    "Spending Ranges (Per Student)", observed=False)["Student ID"].count()

# Compute percentage passing reading
spending_passing_reading_percentage = (spending_passing_reading / total_students_spending) * 100

# Display result
spending_passing_reading_percentage

Spending Ranges (Per Student)
<$585       96.686558
$585-615    95.886889
$615-645    83.614770
$645-675    81.109397
Name: Student ID, dtype: float64

In [142]:
# Calculate the percentage overall passing rate in each spending range
# Compute overall passing rate (average of math and reading passing percentages)
spending_overall_passing_rate = (spending_passing_math_percentage + spending_passing_reading_percentage) / 2

# Display result
spending_overall_passing_rate

Spending Ranges (Per Student)
<$585       95.194724
$585-615    95.005509
$615-645    77.507599
$645-675    73.670105
Name: Student ID, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [146]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [148]:
# Create a new column for the bin groups
# Define the size bins
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Create a new column categorizing schools into size bins
school_data_complete["School Size Category"] = pd.cut(
    school_data_complete["size"], bins=size_bins, labels=group_names
)

# Display the updated DataFrame
school_data_complete[["school_name", "size", "School Size Category"]].head()

         school_name  size School Size Category
0  Huang High School  2917    Large (2000-5000)
1  Huang High School  2917    Large (2000-5000)
2  Huang High School  2917    Large (2000-5000)
3  Huang High School  2917    Large (2000-5000)
4  Huang High School  2917    Large (2000-5000)

Look for the total count of test scores that pass 70% or higher

In [151]:
# math_pass_size

math_pass_size = school_data_complete[school_data_complete["math_score"] >= 70].groupby(
    "School Size Category", observed=False)["Student ID"].count()

# Get total students per school size category
total_students_size = school_data_complete.groupby(
    "School Size Category", observed=False)["Student ID"].count()

# Compute percentage passing math
math_pass_size_percentage = (math_pass_size / total_students_size) * 100

# Display result
math_pass_size_percentage

School Size Category
Small (<1000)         93.952484
Medium (1000-2000)    93.616522
Large (2000-5000)     68.652380
Name: Student ID, dtype: float64

In [153]:
# read_pass_size
# Count students passing reading (score >= 70) per school size category
read_pass_size = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(
    "School Size Category", observed=False)["Student ID"].count()

# Compute percentage passing reading
read_pass_size_percentage = (read_pass_size / total_students_size) * 100

# Display result
read_pass_size_percentage

School Size Category
Small (<1000)         96.040317
Medium (1000-2000)    96.773058
Large (2000-5000)     82.125158
Name: Student ID, dtype: float64

In [155]:
# Calculate the overall passing rate for different school size
# Compute overall passing rate (average of math and reading passing percentages)
overall_passing_size = (math_pass_size_percentage + read_pass_size_percentage) / 2

# Display result
overall_passing_size

School Size Category
Small (<1000)         94.996400
Medium (1000-2000)    95.194790
Large (2000-5000)     75.388769
Name: Student ID, dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [159]:
# Create bins and groups, school type {'Charter', 'District'}

# Group data by school type (Charter, District)
school_type_group = school_data_complete.groupby("type")

# Display the first few rows of the grouped data
school_type_group.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget,Per Student Budget,Spending Ranges (Per Student),School Size Category
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635,655.0,$645-675,Large (2000-5000)
5866,5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,2,Charter,1761,1056600,600.0,$585-615,Medium (1000-2000)
5867,5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,2,Charter,1761,1056600,600.0,$585-615,Medium (1000-2000)
5868,5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,2,Charter,1761,1056600,600.0,$585-615,Medium (1000-2000)
5869,5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,2,Charter,1761,1056600,600.0,$585-615,Medium (1000-2000)
5870,5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,2,Charter,1761,1056600,600.0,$585-615,Medium (1000-2000)

Find counts of the passing 70 or higher score for the both test

In [162]:
# math pass size
# Count students passing math (score >= 70) per school type
math_pass_type = school_data_complete[school_data_complete["math_score"] >= 70].groupby(
    "type", observed=False)["Student ID"].count()

# Get total students per school type
total_students_type = school_data_complete.groupby(
    "type", observed=False)["Student ID"].count()

# Compute percentage passing math
math_pass_type_percentage = (math_pass_type / total_students_type) * 100

# Display result
math_pass_type_percentage

type
Charter     93.701821
District    66.518387
Name: Student ID, dtype: float64

In [164]:
# reading pass size

# Count students passing reading (score >= 70) per school type
read_pass_type = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(
    "type", observed=False)["Student ID"].count()

# Compute percentage passing reading
read_pass_type_percentage = (read_pass_type / total_students_type) * 100

# Display result
read_pass_type_percentage

type
Charter     96.645891
District    80.905249
Name: Student ID, dtype: float64

In [166]:
# Calculate the overall passing rate
# Compute overall passing rate (average of math and reading passing percentages)
overall_passing_type = (math_pass_type_percentage + read_pass_type_percentage) / 2

# Display result
overall_passing_type

type
Charter     95.173856
District    73.711818
Name: Student ID, dtype: float64

In [168]:
# Combine all calculations into a DataFrame
type_summary = pd.DataFrame({
    "% Passing Math": math_pass_type_percentage,
    "% Passing Reading": read_pass_type_percentage,
    "Overall Passing Rate": overall_passing_type
})

# Display formatted DataFrame
type_summary

          % Passing Math  % Passing Reading  Overall Passing Rate
type
Charter        93.701821          96.645891             95.173856
District       66.518387          80.905249             73.711818